/*Header*/
.header{position: fixed;
    height: 140px;
	top: 0;
	left: 0;
	width: 100%;
    border-radius: 0 30px 0 30px;
	z-index: 10;
  

}
.bg-color{background-color:#B6DDDF;}
.bg-img{
    max-width: 1920px;
    width: 100%;
    height: 140px;
    background-image: url(../images/bg-image.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.bg-img::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
    position: absolute;
    display: block;}
.nav-div{
    max-width: 1920px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    transform: translateY(30px);
    display: flex;
    justify-content: space-between; 
}
.logo{color: white;
    font-weight: bold;
    margin-left: 30px;
    font-size: 40px;
    color: #9dddbd;
}
.logo:hover{font-size: 43px;transition: 0.5s;color: #c4881a;}
.nav{
    display: flex;
    justify-content: space-between;}
.nav-li{margin-left:49px ;
     margin-right: 30px; 
     color:black; 
     font-weight:bold;
     font-family: 'Rubik Maze', cursive;
     font-size: 20px;}
.nav-li-active{margin-left:49px ;
       margin-right: 30px;
       color:#9dddbd;
       font-weight:bold;
       font-family: 'Rubik Maze', cursive;
       font-size: 20px;}
.nav-li:hover{cursor: pointer;
    color:#c4881a;
    transition: 0.5s;
    font-size: 25px;
}
.nav-li-active:hover{ cursor: pointer;
    transition:0.5s;
    font-size: 25px;
}
/*First section*/
.first-main-div{
    max-width: 1920px;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}

.first-title-div{
    max-width: 500px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    
}
.title{
    font-size:25px;
    font-weight: bolder;
    color: #63A81E;
    text-align: center;
    font-family: 'DynaPuff', cursive;
}
.paragraph{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-family: 'DynaPuff', cursive;

}
.boxes-div{
    max-width: 1920px;
    width: 100%;
    height: 350px;
    display: flex;
}
.small-boxes{
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 400px;
   margin-left: 50px;
    
}

.img-div{max-width:290px; width:100% ;}
.first-box-titles{
    font-size: 13px;
    font-weight: bold;
    font-family: 'DynaPuff', cursive;
    transform: translateX(-70px);
    margin-top: 120px;
}
.icon-div{
    max-width:30px;
    width:100%;
    height:30px;
    margin-top:20px;
    transform: translateX(-70px);
}
.icon-div p:nth-child(1){
    font-size: 25px;
    color:blue;
    margin-bottom: 10px;
}
.icon-div p:nth-child(2){
    font-size: 25px;
    color: red;
    margin-bottom: 10px;
}
.icon-div p:nth-child(3){
    font-size: 25px;
    color:rgb(204, 151, 37);
    margin-bottom: 10px;
}
.button{
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 35px;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
  }
.button:hover{transition:0.5s;
    font-size: 13px;}
.paragraph-div{
    transform: translateX(-35px);
    margin-top: -20px;

}
.paragraph-div p:nth-child(1){
    font-size: 10px;
    max-width: 100px;
    color:black;
    font-weight: 900;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 22px;
}
.paragraph-div p:nth-child(2){
    font-size: 10px;
    color:black;
    font-weight: 900;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 22px;
}
.paragraph-div p:nth-child(3){
    font-size: 10px;
    color:black;
    font-weight: 900;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 22px;
}
/* Second section*/
.second-mine-div{
    max-width: 1920px;
    width: 100%;
    height:600px;
    margin-top: 100px;
    
}
.second-h2{text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'DynaPuff', cursive;


}
.second-div-boxes{display: flex; justify-content: space-between; max-width: 1920px; width: 100%;height: 500px; margin-top: 40px;}
.second-left-box{max-width:400px;width: 100%; height: 450px;}
.second-middle-box{max-width:400px;width: 100%; height: 450px;}
.second-right-box{max-width:400px;width: 100%; height: 450px;}
.second-div-imgs{max-width:400px ;width: 100%;}
.second-div-h4{font-size: 15px;  font-family: 'DynaPuff', cursive;font-weight: bold;margin-bottom: 15px;}
.second-div-p{font-size: 13px;font-family:'Sarabun', sans-serif;font-weight:900;;border-width:3px; border-style:solid; border-color:olivedrab;}

.animation{
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 200px;
}
.click{margin-left: 1000px;
    transform: translateY(180px);

}
.news-button{
    background-color:darkorange;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 30px 30px;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.tractor{
    position: absolute;
    max-width:500px;
    width: 100%;
    animation:tractor-animation 7s infinite 1s alternate-reverse linear;
}
@keyframes tractor-animation{
    0% {left:0;}
    20% {left: 150px;}
    50% {left:250px ;}
    70% {left:400px ;}
    100%{left:500px;} 
}

/*FOOTER*/
.footer{
    max-width: 1920px;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background-color:rgb(19, 46, 19);
    display: flex;
}
.footer-box-1{
    max-width: 260px;
    width: 100%;
    height: 191px;
    margin-top: 90px;
    margin-left: 139px;
}
.box-1-h3{
    font-size: 24px;
    font-weight: bold;
    color:white;
    margin-bottom: 20px;
    font-family: 'DynaPuff', cursive;
}
.box-1-p{
    font-size: 14px;
    color:black;
    font-family: 'DynaPuff', cursive;
}
.footer-logos{
    display: flex;
    margin-top: 10px;
}
.footer-logos p:nth-child(1){
    font-size: 35px;
    margin-right:15px ;
    color: greenyellow;
}
.footer-logos p:nth-child(2){
    font-size: 35px;
    margin-right:15px ;
    color:orangered;
}
.footer-logos p:nth-child(3){
    font-size: 35px;
    margin-right:15px ;
    color:blueviolet;
}
.footer-box-2{
    max-width: 200px;
    width: 100%;
    height: 155px;
    margin-left: 200px;
    margin-top: 90px;
}
.box-2-h3{
    font-size:21px;
    font-weight: bold;
    color: white;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 20px;
}
.box-2-p{
    font-size: 17px;
    color: black;
    font-family: 'DynaPuff', cursive;
    margin-top: 10px;
}
.footer-box-3{
    max-width: 150px;
    width: 100%;
    height: 155px;
    margin-left: 81px;
    margin-top: 90px;
}
.footer-box-3 p:nth-child(1){font-size: 30px;
    font-family: 'DynaPuff', cursive;
    color: white;}
.footer-box-3 p:nth-child(2){ margin-bottom: 7px;
    font-family: 'DynaPuff', cursive;
 color: blue;}
.footer-box-3 p:nth-child(3){ margin-bottom: 7px;
    font-family: 'DynaPuff', cursive;
    color:#DD2A7B}
.footer-box-3 p:nth-child(4){ margin-bottom: 7px;
    font-family: 'DynaPuff', cursive;
  color:darkred}
.footer-box-3 p:nth-child(5){ margin-bottom: 7px;
    font-family: 'DynaPuff', cursive;
  color:#FF0000}  
.footer-box-3 p:nth-child(6){ margin-bottom: 7px;
    font-family: 'DynaPuff', cursive;
  color:#0077b5}   




.footer-box-4{
    max-width: 198px;
    width: 100%;
    height: 145px;
    margin-left: 81px;
    margin-top: 90px;
}
